{{ partial "header" . }} 
{{ .Content }}

<!-- 
<ul class="gallery">
	{{ $data := index .Site.Data.shows .Params.dataFile }}
	{{ range .Resources.ByType "image" }}
	  {{ $name := .Name }}
	  {{ range $data.media.images }}
	    	<li><img src="{{ . }}" /></li>
	  {{ end }}
	{{ end }}
</ul>
 -->

{{ partial "footer" .}}