html {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 'IBM Plex Sans', serif;
  margin: auto;
  padding: 1em;
  background: #fff;
  color: #333;
  max-width: 36em;
}
blockquote {
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #f00;
}
ul {
  list-style-type: none;
}
nav {
  background: rgba(255,255,255,0.5);
  position: fixed;
  left: 1em;
  top: 1em;
}
nav a,
nav a:visited {
  color: #f00;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-transform: uppercase;
  padding: 0;
}
section {
  margin-bottom: 2.6em;
}
img {
  max-width: 100%;
}
input,
button {
  background: transparent;
  color: #f00;
  padding: 0.5em;
  font-family: 'IBM Plex Sans', serif;
  font-size: 1rem;
}
footer {
  padding: 2em 0;
}
/* Custom Classes */
.home {
  font-size: 1.3rem;
}
.highlight {
  font-size: 1.6rem;
  margin-bottom: 2em;
}
.newsletter {
  margin: 4em 0;
}
ul.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
ul.gallery li {
  padding: 2em;
}
ul.gallery li:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
